/* CSS */

body{
    background-color: rgb(201, 252, 252);
    font: normal 18pt Arial;
}

input{
    width: 50px;
    font: normal 18pt Verdana;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(190, 154, 236);
    border: none;
}

div#resultado{
    background-color: rgb(243, 248, 148);
}