/* css */

body {
    font: normal 18pt Arial;
}

input {
    font: normal 18pt Arial;
    width: 100px;
}

div#resultado{
    margin-top: 20px;
    font-weight: 600;
}

button {
    background-color: blue;
    color: white;
    width: 150px;
    height: 60px;
    font: normal 18pt Arial;
}